@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lexend&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

.landing-bg {
    min-height: 100%;
    background-image: url(images/homebg.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 117vh;
}

.about-bg {
    background-image: url(images/about.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.ourhours-bg {
    background-image: url(images/ourhours.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.menu-bg {
    background-image: url(images/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 130vh;
}

.customers-bg {
    background-image: url(images/customers.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.map-bg {
    background-color: #E3D9D5;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.footer-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/footer.png );
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.header-section {
    display: flex;
    justify-content: space-between;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-items {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.header-section img {
    margin-top: 10%;
    margin-left: 2%;
}

.header-section ul {
    list-style: none;
}

.header-section li {
    display: inline-block;
    margin-right: 10vh;
}

.header-section li:hover {
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}

.header-section li,
.header-section a {
    color: #ffffff;
    text-align: left;
    font: 600 16px 'Poppins', sans-serif;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.slogan {
    color: #ffffff;
    text-align: left;
    font: 700 50px 'Poppins', sans-serif;
}

.landing-content p {
    color: #ffffff;
    text-align: left;
    font: 400 22px/144.5% 'Poppins', sans-serif;
    width: 40%;
    margin-top: 1%;
}

.order-now {
    background: #b77e66;
    border-radius: 10px;
    padding: 2% 6%;
    flex-shrink: 0;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.30);
    border: none;
    margin-top: 1%;
    width: fit-content;
}

.order-now a {
    color: #ffffff;
    text-align: center;
    font: 700 24px 'Poppins', sans-serif;
}

.landing-container {
    display: flex;
    position: relative;
    top: 35%;
    left: 7%;
}

.landing-content {
    width: 100%;
}

.rights {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: left;
    font: 400 20px 'Poppins', sans-serif;
    position: relative;
    top: 27%;
}

.footer-content {
    color: #ffffff;
    text-align: left;
    font: 400 20px 'Poppins', sans-serif;
    margin-bottom: 1%;
}

.footer-content ul {
    list-style: none;
}

.footer-content li {
    padding-top: 3vh;
}



.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 15%;
}

.contact-content {
    position: relative;
    top: -60px;
}

.footer-content p {
    margin-bottom: 1%;
}

.about-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 23%;
    top: 30%;
}

.about-container div {
    margin-bottom: 5%;
}

.about-content .about-title {
    color: #471e22;
    text-align: left;
    font: 600 30px/127.02% 'Inter', sans-serif;
    width: 70%;
    margin-bottom: 4%;
}

.about-content .about-p {
    color: #533b2f;
    text-align: left;
    font: 400 21px 'Inter', sans-serif;
    width: 60%;
}

.about-button {
    background: #b77e66;
    border-radius: 10px;
    padding: 1.5% 5%;
    flex-shrink: 0;
    position: relative;
    left: 33%;
    border: none;
    width: fit-content;
}

.about-button a {
    color: #ffffff;
    text-align: left;
    font: 600 13px 'Poppins', sans-serif;
}

.opening-hours {
    background-color: rgba(34, 27, 24, 0.60);
    border-radius: 10px;
    padding: 2% 4%;
}

.hours-content h2 {
    color: #ffffff;
    text-align: left;
    margin: 0;
    font: 400 48px 'Irish Grover', sans-serif;
}

.hours-content p {
    color: #ffffff;
    text-align: left;
    font: 400 36px 'Irish Grover', sans-serif;
}

.hours-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 7%;
    padding-top: 5%;
}

.menu-container h2 {
    color: #903711;
    text-align: left;
    font: 400 50px 'Poppins', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    margin-top: 14%;
}

.menu-button {
    background: #533B2F;
    border-radius: 10px;
    padding: 1% 3%;
    flex-shrink: 0;
    border: none;
    width: fit-content;
    margin-top: 5%;
    width: fit-content;

}

.menu-button a {
    color: #ffffff;
    text-align: left;
    font: 600 15px 'Poppins', sans-serif;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4%;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: rgba(115, 74, 57, 0.88);
    border-radius: 20px;
    height: 54.252vh;
    position: relative;
    box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
    padding: 1% 2% 7% 2%;
    width: 17%;
}

.card:hover, .box:hover {
    transform: scale(1.08);
    transition: ease 200ms;
}

.thumbnail img {
    border-radius: 10px;
    position: relative;
}

.description h4 {
    margin: 0;
    color: #ffffff;
    text-align: left;
    font: 700 22px 'Poppins', sans-serif;
    position: relative;
}

.description p {
    color: #fffada;
    text-align: left;
    font: 300 12px/21px 'Poppins', sans-serif;
    position: relative;
}

.price {
    color: #ffffff;
    text-align: left;
    font: 700 21px 'Poppins', sans-serif;
    position: relative;
    width: 61px;
    height: 31.6px;
    margin-top: 9%;
}

.customer-container {
    display: flex;
    flex-direction: column;
}

.customer-content {
    display: flex;
    align-items: center;
    padding-top: 5%;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    padding: 3% 8% 0% 8%;
}


.box-content {
    padding-top: 5%;
}

hr {
    width: 30vw;
    margin-left: 5vh;
    margin-right: 5vh;
}

.customer-content h2 {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font: 700 34px/150% 'Lexend', sans-serif;
}

.box-content h4 {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font: 700 30px/150% 'Lexend', sans-serif;

}

.box-content p {
    color: #D3CECE;
    font: 400 15px/150% 'Lexend', sans-serif;
    margin: 1% 2%;
    text-align: center;
}

.box-content .cst {
    color: #54DD8B;
    font: 700 16px/150% 'Lexend', sans-serif;
    margin-top: 9%;
}

.box {
    background: rgba(88, 49, 21, 0.57);
    border-radius: 5px;
    width: 30%;
    height: 45vh;
}

.map-container {
    display: flex;
    justify-content: center;
    padding-top: 1.5%;
}

.map {
    border: 5px solid #795341;
}

/*--- End of index.html ---*/

/*--- Start of Locations page ---*/

.ourhours-bg2 {
    background-image: url(images/ourhours.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.our-locationsbg {
    background-color: #E3D9D5;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vh;
}

.map-location {
    display: flex;
    justify-content: space-between;
    padding: 10% 4% 0% 4%;
}

.hours-content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 7%;
    padding-top: 18%;
}

.hours-content2 h2 {
    color: #ffffff;
    text-align: left;
    margin: 0;
    font: 400 48px 'Irish Grover', sans-serif;
}

.hours-content2 p {
    color: #ffffff;
    text-align: left;
    font: 400 36px 'Irish Grover', sans-serif;
}

.locations-content h1 {
    color: #000000;
    text-align: left;
    font: 700 48px 'Poppins', sans-serif;
    padding: 5% 0 1% 0;
    margin-left: 1%;
}

.locations-content p {
    color: #000000;
    text-align: left;
    font: 300 36px/71px 'Poppins', sans-serif;
    margin-left: 1%;
}

.map2 {
    border: 5px solid #795341;
}

.footer-content2 {
    color: #ffffff;
    text-align: left;
    font: 400 30px 'Poppins', sans-serif;
}

/*--- End of Locations page ---*/

/*--- Start of Contact page  ---*/

.contact-bg {
    background-image: url(images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.contact-bg2 {
    background-image: url(images/contact2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 160vh;
}

.contact-container{
    display: flex;
    justify-content: center;
}

.contact-form {
    padding-top: 6.5%;
    width: 60%;
}

form {
    background-color: rgba(118, 66, 66, 0.40);
    border-radius: 55px;
    padding: 4% 10% 7% 10%;
}

.submit-button {
    background: #0355cc;
    border-radius: 60px;
    padding: 1.5% 5%;
    flex-shrink: 0;
    border: none;
    width: fit-content;
}

.submit-button p {
    color: #ffffff;
    text-align: center;
    font: 600 36px 'Poppins', sans-serif;
}

input {
    background-color: #decdcd;
    border-radius: 60px;
    border: 1px solid #000;
    width: 90%;
    margin-bottom: 4%;
    padding: 2% 4%;
}

input::placeholder,
textarea::placeholder {
    color: #605e5e;
    text-align: left;
    font: 600 24px 'Poppins', sans-serif;
}

textarea {
    color: #000;
    text-align: left;
    font: 600 24px 'Poppins', sans-serif;
    background-color: #decdcd;
    resize: none;
    border-radius: 60px;
    border: 1px solid #000;
    margin-bottom: 4%;
    padding: 8% 4% 0 4%;
    width: 90%;
}

input[type="text"]
{
    color: #000;
    text-align: left;
    font: 600 24px 'Poppins', sans-serif;
}

/*--- End of Contact page ---*/

/*--- Start of About page ---*/

.about-bg2 {
    background-image: url(images/aboutbg1.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 165vh;
}

.about-bg3 {
    background-color: #180707;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.about-bg4 {
    background-image: url(images/aboutbg2.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 190vh;
}

.about-bg2, .about-bg3, .about-bg4{
    display: flex;
    align-items: center;
}

.about-container1 {
    display: flex;
    padding: 0% 5%;
}

.about-container2 {
    display: flex;
    align-items: center;
    padding: 0% 5%;
}

.about-content2 {
    padding-left: 7%;
}

.about-content3 {
    padding-right: 7%;
}

.about-content4 {
    padding-left: 7%;
}

.about-container1 img {
    width: 55%;
    height: 55%;
}

.about-container2 img {
    width: 55%;
    height: 55%;
}

.about-content2 h1,
.about-content3 h1 {
    color: #ffffff;
    text-align: left;
    font: 600 48px 'Poppins', sans-serif;
}

.about-content2 p,
.about-content3 p {
    color: #fffada;
    text-align: left;
    font: 300 24px/38.5px 'Poppins', sans-serif;
    padding-top: 5%;
}

.about-content4 p {
    color: #000;
    text-align: left;
    font: 300 24px/38.5px 'Poppins', sans-serif;
    padding-top: 5%;
}

.about-content4 h1 {
    color: #000;
    text-align: left;
    font: 600 48px 'Poppins', sans-serif;
}

/*--- End of About Page ---*/

/*--- Start of Menu Page ---*/

.menu-bg2 {
    background-image: url(images/menubg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 295vh;
    z-index: 1;
}

.menu-bg3 {
    background-image: url(images/menubg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 295vh;
    z-index: 1;
}

.ourmenu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 17%;
    justify-content: center;
    margin-top: 2%;
}

.menu-content2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.img-title {
    width: 50%;
    margin-top: 13.75%;
}

.buttons div {
    background: #171717;
    border-radius: 30px;
    padding: 2% 1%;
    border: none;
}

.buttons .active {
    background: rgba(52, 18, 18, 0.95) !important;
}

.buttons a {
    color: #ffffff;
    text-align: left;
    font: 400 42px 'Poppins', sans-serif;
}

.order-now:hover, .about-button:hover,.menu-button:hover, .submit-button:hover{
    filter: brightness(120%);
}
/*--- End of Menu Page ---*/